html, body{
	height: 100%;
	width: 100%;
	margin: 0;				
	min-width: 1024px;	
}
body{
	background: #EBF8EA url('images/noisy-texture.png') repeat;					
}
#main{
	font-size: 0.8em;
}
.sec{
	width: 50%;
	padding: 5px;
	padding-left: 25px;	
}
.sec span{
	display: inline;
	padding: 0;
	margin: 0;
}
.leftSec{
	width: 25%;
	text-align: right;
}
.rightSec{
	width: 75%;
	text-align: right;
}			
.header{
	font-family: 'Simonetta', cursive;
	font-size: 2.3em;
}
.subHeader{
	font-size: 0.35em;
}
label{
	padding: 5px;
}
.smallLabel{
	font-size: 0.8em;
}
.apiCallDiv{
	position: absolute;
	top: 14%;
	left: 50%;
	width: 50%;
}
#apiCall{
	width: 100%;
	white-space: nowrap;
}

.sgBrowserDiv{
	text-align: left;
	padding-left: 30px;
	display:none;
}
.sgBrowserDiv label{
	width: 25%;
}
.sgBrowserDiv input{
	width: 75%;
}
.syntaxhighlighter table td.gutter .line {
	padding: 0 5px !important;
}
.syntaxhighlighter table td.code .line {
	padding: 0 !important;
}
.syntaxhighlighter .gutter {
	padding-right: 1em !important;
}
.syntaxhighlighter table {
	padding-bottom: 1px !important;
}
button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#3a6636 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#468546);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#3a6636),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#468546));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
	position: absolute;
	left: 45%;
	top: 90%;
	cursor: pointer;
	z-index: 100;
}
.dispBtn{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.spacer{
	padding-bottom:5px;
}
.sectionGroup { 
	width:40%;
	
	background-color: white; 
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
	box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);
	
	/* rounded corners */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px; 
	border-radius: 20px;

	/* gradients */
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
	background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%); 
}
.groupHeader{
	font-weight: bold;
	padding-left: 20px;
}
.widthAdjust{
	width: 100%;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}
.arrow{
	display: none;
}
